@font-face {
  font-family: 'Proxima Nova Bold';
  src: local('Proxima Nova Bold'), url('../fonts/Proxima Nova Bold.otf') format('truetype');
}
@font-face {
  font-family: 'Proxima Nova Thin';
  src: local('Proxima Nova Thin'), url('../fonts/Proxima Nova Thin.otf') format('truetype');
}
@font-face {
  font-family: 'ProximaNova-Regular';
  src: local('ProximaNova-Regular'), url('../fonts/ProximaNova-Regular.otf') format('truetype');
}
@font-face {
  font-family: 'Proxima Nova Extrabold';
  src: local('Proxima Nova Extrabold'), url('../fonts/Proxima Nova Extrabold.otf') format('truetype');
}

@font-face {
  font-family: 'Muli-Regular';
  src: local('Muli-Regular'), url('../fonts/Muli-Regular.ttf') format('truetype');
}